.footer{
    background-color: #131212;
    width: 96%;
    height: 5vh;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 20px;
    color:white;
    text-align: center;
    padding-top: 1%
}
@media only screen and (max-width: 600px) {
    .footer{
        background-color: #131212;
        width: 96%;
        height: 5vh;
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 20px;
        color:white;
        text-align: center;
        padding-top: 1%
    }
}